.cards {
  background-color: white;
  margin: auto;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 2rem;
  margin:0;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: auto;
}

.cards__wrapper {
  position: relative;
  margin: auto;
}

.cards__items {
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.cards__item {
  background-color: rgb(221, 221, 221);
  display: flex;
  flex: 33.3333333%;
  margin: 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  margin: auto;
  position: relative;
  width: 100%;
  padding-top: 65%;
  overflow: hidden;

}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 35px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  margin:auto;
 
}

.cards__item__text {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin:1rem;
}

@media screen and (max-width: 700px) {
  .cards__item__pic-wrap::after{
    font-size: 35px;
    font-weight: 200;
  }
  

  
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
  
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
  .cards__item__pic-wrap::after{
    font-size: 35px;
    font-weight: 200;
  }
  .cards__item__info {
    min-height: 8rem;
    min-width: 30rem;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    padding-bottom: 2rem;
  }
  .cards__item__text{
    font-size: 1.5rem;
  }
  .cards__item__info{
    margin: 1rem;
  }
  
  
  
}
